/**
 * vue transition
 */
 @mixin vue-transition($name: 'v', $duration: .5s) {

  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: $duration;
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    @content;
  }
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin flex($justify: flex-start, $align: flex-start, $dir: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin flex-center($dir: row, $wrap: nowrap) {
  @include flex(center, center, $dir, $wrap);
}

@mixin flex-end($dir: row, $wrap: nowrap) {
  @include flex(flex-end, flex-end, $dir, $wrap);
}

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin txt-overflow ($line-clamp: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: $line-clamp;
  box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

@mixin txt-overflow-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}